blog-search {
    input {
        width: 100%;
        font-size: 1em;
        outline: none;
        padding: 0.25em;
        border: none;

        background: rgba(255, 255, 255, 0.9);
    }

    .search-results {
        padding: 1px;
        background: $background;
        color: $dark-text;

        &.empty {
            background: transparent;
        }
    }

    @media screen and (max-width: $max-mobile-width) {
        input {
            font-size: 1.75em;
        }
    }
}
